:root {
  --branding-color: #980000;
  --highlight-color: #2c3941;
  --secondary-color: #dadfe5;
  --neutral-color: #ebecee;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--neutral-color);
  color: var(--highlight-color);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
.material-symbols-outlined {
  font-size: 40px;
  color: var(--highlight-color);
}

.box-shadow {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.grid {
  display: grid;
  grid-gap: 40px;
}
.grid-2-col {
  grid-template-columns: 2fr 1fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4-col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo {
  max-height: 45px;
  padding-left: 20px;
}
.button {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 180ms ease-in-out;
}
.button:hover {
  color: var(--branding-color);
  background-color: var(--secondary-color);
}

header {
  max-width: 1600px;
}
.menu {
  background-color: rgba(112, 112, 112, 0.391);
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.menu ul {
  padding-right: 30px;
}
.menu li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
.menu a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}

.menu a:hover,
.menu li.active a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 28px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/teclado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 115px 20px 90px 20px;
}
.hero h1 {
  color: white;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}

main {
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
}

.main-about {
  padding: 95px 45px 120px 45px;
}
.main-about h1 {
  font-size: 48px;
}
.main-about h2 {
  font-size: 30px;
}
.about-description {
  text-align: justify;
  padding: 10px;
}
.about-description h1,
h2 {
  padding-bottom: 20px;
  margin: 0 auto;
}
.about-description p {
  padding-bottom: 40px;
}
.about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-picture {
  border-radius: 10px;
  width: 80%;
}
.projects,
.main-courses,
.main-documents,
.main-contact {
  padding: 5px 120px 90px 120px;
}
.product {
  margin-bottom: 20px;
}
.product h3,
p {
  margin: 5px;
}
.product p {
  opacity: 80%;
  text-align: center;
}
.product img,
.card img {
  transition: all 150ms ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.product img:hover,
.card img {
  transform: scale(1.1);
}

.card {
  margin: 42px;
  padding: 29px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  background-color: white;
}
.card-body {
  min-height: 230px;
}
.card-body h3 {
  font-size: 24px;
  margin-top: 35px;
}
.card-footer {
  padding: 20px;
}

.documents-container {
  background-color: var(--highlight-color);
  max-width: 800px;
  padding: 20px 0px 0px 0px;
  border-radius: 14px;
  margin: 15px auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.document {
  background-color: var(--neutral-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.document div {
  margin-left: 20px;
}
.document h3 {
  color: var(--branding-color);
}
.document h3,
p {
  text-align: justify;
}
.document-icon {
  align-items: center;
  display: flex;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
}
.document-icon:hover {
  transform: scale(1.5);
}

.main-contact p,
a {
  color: var(--branding-color);
  letter-spacing: 2px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}
.main-contact h3 {
  margin-bottom: 4px;
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/teclado-branco.jpg);
  background-size: cover;
  padding: 60px;
  text-align: center;
}
footer div {
  padding: 15px;
}
footer .email-link {
  text-decoration: none;
  color: var(--neutral-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links {
  display: flex;
  justify-content: center;
}
footer .social-links a {
  margin: 0 20px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
footer .social-links svg {
  transition: all 180ms ease-in-out;
}
footer .social-links svg:hover {
  cursor: pointer;
  transform: scale(1.5);
}
.by-joice {
  font-size: 16px;
  opacity: 70%;
  text-align: center;
  padding: 10px;
}
.by-joice a {
  font-size: 16px;
}

@media (max-width: 1400px) {
  .main-courses .grid {
    grid-gap: 0px;
  }
  .card {
    margin: 18px;
  }
}
@media (max-width: 1322px) {
  .card-body {
    min-height: 272px;
  }
  .main-courses .button {
    font-size: 16px;
    padding: 10px 12px;
  }
}
@media (max-width: 1072px) {
  .main-about h1 {
    font-size: 40px;
  }
  .main-about h2 {
    font-size: 23px;
  }
  .card {
    margin: 3px;
  }
  .card-body {
    min-height: 302px;
  }
}

@media (max-width: 935px) {
  .product h3 {
    font-size: 24px;
  }
  .product p {
    line-height: 1.2;
    font-size: 15px;
  }
  .grid {
    grid-gap: 20px;
  }
  .main-courses {
    padding: 1px 40px 60px;
  }
}

@media (max-width: 900px) {
  .hero {
    padding: 45px;
  }
  h1,
  h2 {
    font-size: 44px;
  }
  .content h1 {
    font-size: 28px;
    line-height: 40px;
  }
  h1 {
    line-height: 2;
  }
  h3 {
    font-size: 26px;
  }

  menu a {
    font-size: 14px;
    margin: 5px;
  }
  .grid-2-col {
    grid-template-columns: 1fr;
  }
  .grid-4-col {
    grid-template-columns: 1fr 1fr;
  }
  .about-description {
    order: 2;
  }
  .profile-picture {
    order: 1;
    max-width: 60%;
  }
  main .projects {
    padding: 20px;
  }

  .product h3 {
    font-size: 26px;
  }
  .product p {
    line-height: 1.2;
    font-size: 18px;
  }
  footer {
    padding: 20px;
  }
  .by-joice {
    font-size: 12px;
  }
  .by-joice a {
    font-size: 12px;
  }
}
@media (max-width: 835px) {
  .document h3 {
    font-size: 20px;
  }
}
@media (max-width: 770px) {
  .card img {
    width: 80%;
  }
  .card-body {
    min-height: 330px;
  }
  .card-body p {
    line-height: 20px;
  }
  .card-footer {
    padding: 20px 5px;
  }
  .main-courses {
    padding: 1px 5px 60px;
  }
  .product h3,
  p {
    margin: 0px;
  }
}
@media (max-width: 720px) {
  .document h3 {
    margin: 0px;
    font-size: 18px;
  }
}
@media (max-width: 642px) {
  .main-about h1 {
    font-size: 30px;
  }
  .about-description {
    text-align: center;
  }
  .grid-3-col,
  .grid-4-col {
    grid-template-columns: 1fr;
  }
  .card {
    margin: 25px 50px;
  }
  .card img {
    margin-top: 30px;
  }
  .card-body {
    min-height: 0px;
  }
  .card-footer {
    padding: 26px 5px;
  }
  .projects {
    padding: 5px 80px 90px 80px;
  }
  .document h3,
  p {
    text-align: left;
  }
}
@media (max-width: 616px) {
  .main-contact h1 {
    font-size: 35px;
  }
}
@media (max-width: 570px) {
  .main-documents,
  .main-contact {
    padding: 5px 25px 90px 25px;
  }
}
@media (max-width: 515px) {
  .main-about {
    padding: 50px 10px;
  }
  .main-about h1 {
    font-size: 25px;
  }
  .main-about h2 {
    font-size: 20px;
  }
  .about-description h1,
  h2 {
    padding-bottom: 5px;
  }
  .main-documents,
  .projects {
    padding: 5px 50px 90px 50px;
  }

  footer .social-links {
    display: none;
  }
  footer .email-link {
    font-size: 20px;
  }
  .button {
    font-size: 18px;
  }
}

@media (max-width: 415px) {
  .card {
    margin: 25px;
  }
  .document {
    padding: 7px;
  }
  footer .email-link {
    font-size: 16px;
  }
  .button {
    font-size: 16px;
  }
  .by-joice {
    font-size: 10px;
  }
  .by-joice a {
    font-size: 10px;
  }
}
