:root {
  --branding-color: #980000;
  --highlight-color: #2c3941;
  --secondary-color: #dadfe5;
  --neutral-color: #ebecee;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
  background-color: var(--neutral-color);
  color: var(--highlight-color);
}

.container {
  max-width: 1600px;
  margin: 0 auto;
}
.box-shadow {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.grid {
  display: grid;
  grid-gap: 40px;
}
.grid-2-col {
  grid-template-columns: 2fr 1fr;
}
.grid-3-col {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4-col {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.logo {
  max-height: 45px;
}
.button {
  background: var(--branding-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  text-decoration: none;
  transition: all 180ms ease-in-out;
}
.button:hover {
  color: var(--branding-color);
  background-color: var(--secondary-color);
}

.menu {
  background-color: rgba(120, 120, 120, 0.391);
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  font-size: 20px;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
}

.menu li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
.menu a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}

.menu a:hover,
.menu li.active a {
  text-decoration: underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
  line-height: 1.5;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 28px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/teclado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  padding: 115px 20px 90px 20px;
}
.hero h1 {
  color: white;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}

main {
  background-color: var(--secondary-color);
  padding: 20px;
  text-align: center;
}

.main-about {
  padding: 180px 45px 120px 45px;
}
.main-about h1 {
  font-size: 48px;
}
.main-about h2 {
  font-size: 30px;
}
.about-description {
  text-align: justify;
  padding: 10px;
}
.about-description h1,
h2 {
  padding-bottom: 20px;
  margin: 0 auto;
}
.about-description p {
  padding-bottom: 40px;
}
.about-img {
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-picture {
  border-radius: 10px;
  width: 80%;
}
.projects,
.main-courses {
  padding: 120px;
}

.product {
  margin-bottom: 20px;
}
.product h3,
p {
  margin: 5px;
}
.product p {
  opacity: 80%;
}
.product img,
.card img {
  transition: all 150ms ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
}
.product img:hover,
.card img {
  transform: scale(1.1);
}

.course-card {
  margin-bottom: 45px;
  padding: 50px 150px;
}
.card {
  padding: 50px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-body {
  padding: 15px 5px;
}
.card-body p {
  padding-bottom: 50px;
}

.wrapper-document-container {
  background-color: var(--highlight-color);
  max-width: 800px;
  padding: 20px 0px 0px 0px;
  border-radius: 14px;
  margin: 15px auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.document-container {
  background-color: var(--neutral-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.document-container div {
  margin-left: 20px;
}
.document-container h3 {
  color: var(--branding-color);
}
.document-icon {
  align-items: center;
  display: flex;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
}
.document-icon:hover {
  transform: scale(1.5);
}
.material-symbols-outlined {
  font-size: 40px;
  color: var(--highlight-color);
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/teclado-branco.jpg);
  background-size: cover;
  padding: 60px;
  text-align: center;
}
footer div {
  padding: 15px;
}
footer .email-link {
  text-decoration: none;
  color: var(--neutral-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}
footer .social-links {
  display: flex;
  justify-content: center;
}
footer .social-links a {
  margin: 0 20px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
footer .social-links svg {
  transition: all 180ms ease-in-out;
}
footer .social-links svg:hover {
  cursor: pointer;
  transform: scale(1.5);
}

@media (max-width: 900px) {
  h1,
  h2 {
    font-size: 44px;
  }
  .content h1 {
    font-size: 28px;
    line-height: 40px;
  }
  h1 {
    line-height: 2;
  }
  h3 {
    font-size: 26px;
  }

  menu a {
    font-size: 14px;
    margin: 5px;
  }
  .grid-2-col,
  .grid-3-col,
  .grid-4-col {
    grid-template-columns: 1fr;
  }
}
