:root {
  --branding-color: #980000;
  --highlight-color: #415765;
  --secondary-color: #dadfe5;
  --neutral-color: #ebecee;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
}

body {
  font-family: var(--default-font-family);
}
.logo {
  max-height: 45px;
}

.homepage-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/teclado.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.menu {
  background-color: rgba(120, 120, 120, 0.391);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  font-size: 20px;
}
nav {
  padding: 20px 0;
}

nav ul {
  padding: 0;
  margin: 0;
}
nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}
nav a {
  text-decoration: none;
  color: white;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  text-decoration: underline;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 80px;
  line-height: 1.5;
  margin-top: 50px;
}
h2 {
  font-size: 64px;
}
h3 {
  font-size: 28px;
}
p {
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
}

.hero {
  text-align: center;
  padding: 115px 20px 40px 20px;
}
.hero h1 {
  color: white;
}
.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 1.5;
  color: white;
}

.content-container {
  padding: 100px 50px 20px 50px;
}

.content h1 {
  line-height: 80px;
}

.content h2 {
  font-size: 18px;
  font-family: var(--default-font-family);
}

.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
  line-height: 1.5;
  margin: 20px 0 0;
}

.content p {
  font-size: 14px;
}
.content {
  margin: 30px;
}

.btn-branding {
  background: var(--branding-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
  border: 1px solid var(--branding-color) !important;
}
.btn-branding:hover {
  color: var(--branding-color);
  background-color: var(--secondary-color);
}
.btn-branding-outline {
  background: var(--secondary-color);
  border: 1px solid var(--branding-color);
  border-radius: 4px;
  color: var(--branding-color);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
.profile-picture {
  max-width: 80%;
}
.work-projects img {
  transition: all 150ms ease-in-out;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.work-projects img:hover {
  transform: scale(1.1);
}

.main-courses {
  text-align: center;
}
.main-courses img {
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.course-cards {
  margin-bottom: 45px;
  padding: 50px 150px;
}
.card {
  padding: 20px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.card-body {
  padding: 15px 5px;
}

.wrapper-document-container {
  background-color: var(--highlight-color);
  max-width: 800px;
  padding: 20px 0px 0px 0px;
  border-radius: 14px;
  margin: 15px auto;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.2);
}
.document-container {
  background-color: var(--neutral-color);
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.document-container div {
  margin-left: 20px;
}
.document-container h3 {
  color: var(--branding-color);
}
.document-icon {
  align-items: center;
  display: flex;
  margin-right: 20px;
  transition: all 200ms ease-in-out;
}
.document-icon:hover {
  transform: scale(1.5);
}
.material-symbols-outlined {
  font-size: 40px;
  color: var(--highlight-color);
}

footer {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/images/teclado-branco.jpg);
  background-size: cover;
  padding: 15px;
}

footer .email-link {
  text-decoration: none;
  color: var(--neutral-color);
  font-size: 24px;
}

footer .email-link:hover {
  color: var(--branding-color);
}

footer .social-links a {
  margin: 0 20px;
  background-color: var(--secondary-color);
  padding: 15px;
  border-radius: 50%;
}

footer .social-links svg {
  transition: all 150ms ease-in-out;
}
footer .social-links svg:hover {
  cursor: pointer;
  transform: scale(1.5);
}

@media (max-width: 900px) {
  h1,
  h2 {
    font-size: 44px;
  }
  .content h1 {
    font-size: 28px;
    line-height: 40px;
  }
  h1 {
    line-height: 2;
  }
  h3 {
    font-size: 26px;
  }

  .project-description {
    padding: 0;
    text-align: center;
  }
  .content {
    text-align: center;
    padding: 0;
  }

  nav a {
    font-size: 14px;
    margin: 5px;
  }
}
